<div>
  <div *ngIf="error">
    {{ uploadResponse.message }}
  </div>
  <div *ngIf="uploadResponse.status === 'error'">
    {{ uploadResponse.message }}
  </div>
  <div *ngIf="uploadResponse.status === 'progress'">


    <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      {{uploadResponse.message}}%
    </div>
  </div>
</div>
<div class="col-md-6 ">
  <h2 class="text-center">Add Plantation</h2>
  <form [formGroup]="uploadForm"  (ngSubmit)="onSubmit()">
    <div >
      <label for="Nom">Nom :</label>
      <input formControlName="nom" placeholder="Nom" name="nom"  id="Nom">
    </div>
    <div>
      <label for="etat">ÉTAT :</label>
      <input formControlName="etat" placeholder="etat" name="etat"  id="etat">
    </div>
    <div >
      <label>Parcelle :</label>
      <select formControlName="parcelle" id = "parcelle" name="parcelle" [(ngModel)]="parcelletorecover">
        <option value= "">---</option>
        <option *ngFor="let par of parcelles " [ngValue]= par >{{ par.pacelleId}}</option>
      </select>
    </div>
    <div>
      <label for="proprietaire">Propriétaire :</label>
      <select formControlName="proprietaire" id="proprietaire" name="proprietaire"  [(ngModel)]="usertorecover">
        <option value= "" >---</option>
        <option *ngFor="let par of users " [ngValue]= par >{{ par.nom }}</option>
      </select>
    </div>
    <div class="hidden">
      <label for="photo">Photo :</label>
      <input formControlName="photo" placeholder="photo" name="photo"  id="photo">
    </div>
    <button type="submit" class="btn btn-success" >Add</button>
  </form>
</div>
