<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">MENU</li>
      <li><a routerLink="/plantations" routerLinkActive="active" ><i class="fa fa-circle-o text-red"></i> <span >Plantation</span></a></li>
      <li><a routerLink="/traitements" routerLinkActive="active" ><i class="fa fa-circle-o text-maroon"></i> <span >Traitement</span></a></li>
      <li><a routerLink="/parcelles" routerLinkActive="active"><i class="fa fa-circle-o text-yellow"></i> <span >Parcelle</span></a></li>
      <li><a routerLink="/inscription" routerLinkActive="active"><i class="fa fa-circle-o text-bold"></i> <span>Ajout Utilisateur</span></a></li>
      <li><a routerLink="/addparcelle" routerLinkActive="active"><i class="fa fa-circle-o text-aqua"></i> <span>Ajout Parcelle</span></a></li>
      <li><a routerLink="/viewusers" routerLinkActive="active"><i class="fa fa-circle-o text-blue"></i> <span>Utilisateur</span></a></li>
      <li><a routerLink="/sendsms" routerLinkActive="active"><i class="fa fa-circle-o text-info"></i> <span>Envoyer Alerte</span></a></li>
      <li><a routerLink="/receivesms" routerLinkActive="active"><i class="fa fa-circle-o text-aqua"></i> <span>Mes Messages</span></a></li>

    </ul>

  </section>
  <!-- /.sidebar -->
</aside>
